<div class="producto-carrito-wraper">
    <article class="producto-carrito">
        <div class="producto-body">
            <p>producto.nombre</p>
            <div class="producto-body-info">
                <p>$ producto.precio</p>
                <p>producto.cantidad</p>
            </div>
        </div>

        <div class="producto-carrito-total">
            <p>producto.precio * producto.cantidad</p>
        </div>
        <div class="producto-carrito-buttons">
            <div class="producto-carrito-operators">
                <i class="fa fa-minus"></i>
                <span>producto.cantidad</span>
                <i class="fa fa-plus"></i>
            </div>
            <img class="imagen" src="/assets/imagenes/papelera.png">
        </div>
    </article>
    <div class="carrito-total">
        <p class="carrito-total-total">Total:$ total</p>
    </div>
    <button class="carrito-btn">ir a la cesta</button>
</div>