<div class="product-cart-wrapper">
    <article class="productCart">
        <div class="product-body">
            <p>product.title</p>
            <div class="product-body-info">
                <p>product.price</p>
                <p>product.cantidad</p>
            </div>
        </div>
        <div class="productCart-total">
            <p>product.price * product.cantidad</p>
        </div>
        <div class="productCart-buttons">
            <div class="productCart-buttons-operators">
                <i class="fa-solid fa-minus"></i>
                <span>product.cantidad</span>
                <i class="fa-solid fa-plus"></i>
            </div>
            <i class="fa-solid fa-trash"></i>
        </div>
    </article>
    <div class="cartTotal">
        <p class="cartTotal-Total">Total: $ total</p>
    </div>
    <button class="Cart-btn">Ir a mi cesta</button>
</div>