<section class="bg-color">
    <div class="containers">
        <div class="title">
            <p>Los lenguajes de programación mas utilizados</p>
            <h1><span>Los mejores</span>Cursos</h1>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="descuento">9%</div>
                        <div class="label label-green">pedido anticipado</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="changeImage($event)"><img src="./html-css" alt="Product"></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="./angular" alt="Product"></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="./django" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url}}" alt="image">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Calificación</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$30.000</span><span class="old-price">25.000</span></p>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="descuento">10%</div>
                        <div class="label label-green">pedido anticipado</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="changeImage($event)"><img src="./python" alt="Product"></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="./html-css" alt="Product"></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="./django" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url2}}" alt="image">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Calificación</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$25.000</span><span class="old-price">28.000</span></p>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="descuento">12%</div>
                        <div class="label label-green">pedido anticipado</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="changeImage($event)"><img src="./python" alt="Product"></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="./angular" alt="Product"></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="./django" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url3}}" alt="image">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Calificación</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$20.000</span><span class="old-price">25.000</span></p>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="descuento">8%</div>
                        <div class="label label-green">pedido anticipado</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="changeImage($event)"><img src="./python" alt="Product"></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="./angular" alt="Product"></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="./django" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url3}}" alt="image">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Calificación</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$21.000</span><span class="old-price">25.000</span></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>