<nz-header>
  <div class="logo"></div>
  <ul nz-menu nzTheme="dark" nzMode="horizontal">
    <li nz-menu-item>Inicio</li>
    <li nz-menu-item>Servicios</li>
    <li nz-menu-item>Contacto</li>
    <li nz-menu-item>Blog</li>
  </ul>
</nz-header>

<!-- <nav class="navbar navbar-expand-lg navbar-dark navbar-inicio">
  <a class="navbar-brand fs-1 fw-semibold navbar-titulo mt-2" href="#"
    >DatAsk</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ms-auto me-2 mt-3">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
          >Administradores</a
        >
        <div class="dropdown-menu">
          <a class="dropdown-item text-info" ; href="crearArticulos.html">
            <span style="font-size: 1rem; font-weight: bold"
              >Agregar Articulo</span
            >
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contacto.html">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#servicios">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#secciones">Blogs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="ingresar.html">Ingresar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="registrarse.html">Registrarse</a>
      </li>
    </ul>
  </div>
</nav> -->
