<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
   <title>Datask</title>
 
   <!-- google font -->
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
   <!-- bootstrap -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   <!-- css estilos -->
   <link rel="stylesheet" href="css/styles.css">
     <link rel="stylesheet" href="css/normalize.css">
   <script src="https://kit.fontawesome.com/e52ffa0f4a.js" crossorigin="anonymous"></script>
   <!-- JAVASCRIPT -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
 
 </head>
